@import 'core/styles/variables.scss';

#map {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  //  height: 450px;
  //  width: 450px;

  .leaflet-popup {
    @include border-radius(0);

    .marker-popover {
      color: $mono-dark;
    }

    .marker-popover--lead {
      margin-bottom: 15px;
    }
  }

}

.nd-dialogue-container {
  position: absolute;
  top: 0;
  bottom: 100px;
  left: 300px;
  right: 150px;
  overflow-y: auto;
  background: WHITE;

  box-shadow: $z1-shadow;
  -webkit-box-shadow: $z1-shadow;
  -moz-box-shadow: $z1-shadow;
}

.nd-label-interact {
  color: $brand-primary-shadow !important;
}

.nd-label-interact:hover {
  text-decoration: underline;
}

.nd-date-stamp {
  color: $mono-light;
}

.article-filters-container {
  position: fixed;
  top: 10px;
  left: 50px;
}

.article-list-container {
  position: fixed;
  top: 15px;
  right: 0;
  bottom: 0;

  width: 300px;
  overflow-y: scroll;
}

.article-list-controls {
  > .nd-input-sm {
    height: 20px;
  }

  #article-list-collapse-btn {
    cursor: pointer;
    color: $mono-darker;
  }
}

.article-card {
  margin-bottom: 10px;
  opacity: .9;

  box-shadow: $z2-shadow;
  -webkit-box-shadow: $z2-shadow;
  -moz-box-shadow: $z2-shadow;

  .article-card__header {
    padding: 10px;
    background: $mono-lighter;
    color: $mono-darker;

    box-shadow: $z1-shadow;
    -webkit-box-shadow: $z1-shadow;
    -moz-box-shadow: $z1-shadow;
  }

  .article-card__body {
    padding: 10px;
    background: $white;
    color: $mono-dark;

    > div:not(:last-child) {
      padding-bottom: 10px;
    }
  }
}


