@import 'core/styles/variables.scss';

#map {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

//  height: 450px;
//  width: 450px;
}


.nd-dialogue-container {
  position: absolute;
  top: 0;
  bottom: 100px;
  left: 300px;
  right: 150px;
  overflow-y: auto;
  background: WHITE;

  box-shadow: $z1-shadow;
  -webkit-box-shadow: $z1-shadow;
  -moz-box-shadow: $z1-shadow;
}


.nd-label-interact {
  color: $brand-primary-shadow !important;
}

.nd-label-interact:hover {
  text-decoration: underline;
}

.nd-date-stamp {
  color: $mono-light;
}

