@import 'core/styles/variables.scss';

$article-list-width: 400px;

#map {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  //  height: 450px;
  //  width: 450px;

  .leaflet-popup {
    @include border-radius(0);

    .marker-popover {
      color: $mono-dark;
    }

    .marker-popover--lead {
      margin-bottom: 15px;
    }
  }
}

.map-fetching {
  > .leaflet-container {
    cursor: wait !important;
    -webkit-cursor: wait !important;
    -moz-shadow: wait !important;
    > .leaflet-control-container {
      cursor: wait !important;
      -webkit-cursor: wait !important;
      -moz-shadow: wait !important;
    }
  }
}

.nd-dialogue-container {
  position: absolute;
  top: 0;
  bottom: 100px;
  left: 300px;
  right: 150px;
  overflow-y: auto;
  background: WHITE;

  box-shadow: $z1-shadow;
  -webkit-box-shadow: $z1-shadow;
  -moz-box-shadow: $z1-shadow;
}

.nd-label-interact {
  color: $brand-primary-shadow !important;
}

.nd-label-interact:hover {
  text-decoration: underline;
}

.nd-date-stamp {
  color: $mono-light;
}

.map-social-filters {
  position: fixed;
  left: 50%;
  top: 10px;
}

.map-category-filters {
  position: fixed;
  left: 5px;
  top: 110px;

  width: 50px;
  height: 300px;

  .category-filter {
    position: relative;
    cursor: pointer;

    width: 40px;
    min-width: 40px;

    height: 40px;
    min-height: 40px;
  }
}

.article-cards {
  pointer-events: none;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 90px;
  opacity: 100%;

  width: $article-list-width;
  overflow-y: scroll;

  &.article-cards--collapsed {
    opacity: 0 !important;
  }

  @include transition(opacity 0.2s ease);
}

.article-list {
  pointer-events: none;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;

  width: $article-list-width;
}

.article-list-controls {
  pointer-events: auto;
  position: fixed;
  right: 0;
  width: $article-list-width;

  border-bottom: 2px solid $mono;

  box-shadow: $z2-shadow;
  -webkit-box-shadow: $z2-shadow;
  -moz-box-shadow: $z2-shadow;

  .nd-input {
    height: 20px;
    width: 85% !important; /* override */
  }

  .article-list-collapse-btn {
    cursor: pointer;
    color: $mono;
    background: $mono-light;
    text-decoration: none;

    &.article-list-collapse-btn--active {
      text-decoration: line-through;
    }

    &:active {
      background: $mono-lighter;
    }
  }
}

.article-card {
  pointer-events: auto;
  opacity: .9;

  border-bottom: 2px solid $mono-lighter;

  box-shadow: $z2-shadow;
  -webkit-box-shadow: $z2-shadow;
  -moz-box-shadow: $z2-shadow;

  .article-card__header {
    background: $white;
    color: $mono-darker;
  }

  .article-card__header--active {
    background: #F6E9A6;
    color: $mono-darker;
  }

  .article-card__body {
    background: $white;
    color: $mono-dark;

    > div:not(:last-child) {
      padding-bottom: 10px;
    }
  }

  .article-link {
    color: $link-color;
  }

  .article-category-label {
    color: $white;
    @include border-radius($base-border-radius);
  }
}

