<div class="map-date-filters">
    <div ng-repeat="filter in dateFilters" class="nd-btn-group">
        <button class="nd-btn--sm"
                ng-class="filter.key == MapFilters.activeDateFilter.key ? 'nd-btn-white' : 'nd-btn-mono'"
                ng-click="toggleDateFilter(filter, $event)">
            {{filter.title}}
        </button>
    </div>
</div>

<div class="map-category-filters">
    <div ng-repeat="filter in categoryFilters | orderBy:'-weight'" class="nd-btn-group">
        <button class="nd-btn--sm"
                ng-class="filter.toggled ? filter.btn : 'nd-btn-mono'"
                ng-click="toggleCategoryFilter(filter, $event)">
            <i class="fa" ng-class="filter.icon"></i>
        </button>
    </div>
</div>

<div class="map-noise-filters">
    <div ng-repeat="filter in noiseFilters" class="nd-btn-group">
        <button class="nd-btn--sm"
                ng-class="filter.key == MapFilters.activeNoiseFilter.key ? 'nd-btn-white' : 'nd-btn-mono'"
                ng-click="toggleNoiseFilter(filter, $event)">
            <i class="fa" ng-class="filter.icon"></i>
        </button>
    </div>
</div>

<div article-list class="article-list">
    <div class="article-list-controls">
        <div nd-s-row>
            <div nd-s-col="7" nd-t-font="h6 small-caps"  nd-s-pt="2" class="text-inverse">
                <span nd-s-pl="2">Currently sizing pins by: </span>
            </div>
            <div nd-s-col="5">
                <div ng-repeat="filter in socialFilters" class="nd-btn-group" nd-s-pull="right">
                    <button class="nd-btn--sm"
                            ng-class="activeSocialFilters[filter.key] ? filter.btn : 'nd-btn-mono'"
                            ng-click="togglePinSizing(filter, $event)">
                        <i class="fa" ng-class="filter.icon"></i>
                    </button>
                </div>
            </div>
        </div>
        <div nd-s-row>
            <input ng-model="articleSearch" class="nd-input" placeholder="Search articles by title." ng-change="search(articleSearch)" type="text"/>
        </div>
        <div nd-s-row nd-s-pxy="sm"
             class="article-list-collapse-btn"
             nd-t-font="h6 center small-caps" ng-click="collapseList()"
             ng-class="{'article-list-collapse-btn--active': listCollapsed}">
            Viewing {{(activeArticles | filter:articleSearch).length || 0}} articles.
        </div>
    </div>

    <div article-cards class="article-cards" ng-class="{'article-cards--collapsed': listCollapsed}">
        <div ng-repeat="article in activeArticles | orderBy:'-shareCount'"
             ng-attr-id="{{article.id}}"
             class="article-card" nd-s-row>
            <div class="article-card__header"
                 ng-class="{'article-card__header--active': article.id == Marker.$$prevMarkerId}" nd-s-pxy="sm">
                <span ng-click="centerMap(article)"
                      nd-t-font="{{$index < 3 ? 'h5 link' : 'h6 link'}}">{{::article.headline}}</span>
                <span ng-click="goArticleSource(article.url)"
                      class="article-link"
                      nd-s-pl="2"
                      nd-t-font="link small-caps right bold h6">(source)</span>
            </div>

            <div class="article-card__body" nd-s-px="sm" nd-s-pb="4">
                <!--TODO add dynamic article source-->
                <div nd-s-row>
                    <span nd-t-font="p small">New York Times - {{::article.dateCreated | date:'MMM d, y'}}</span>
                </div>
                <div nd-s-row>
                    <span nd-t-font="p">{{::article.abstract | ellipsis:130:'end'}}</span>
                </div>
                <div nd-s-row nd-s-pt="1">
                    <span nd-s-pull="left"
                          nd-t-font="p small"
                          nd-s-pxy="1"
                          fill-background="MarkerCategories.getColor(article.category)"
                          class="article-category-label">{{::article.category | capitalize}}</span>
                    <span nd-s-pull="right" nd-s-py="1">
                        <span class="fa fa-twitter"
                              nd-s-pr="1"></span>{{::article.retweetCount | number}} retweets</span>
                    <span nd-s-pull="right" nd-s-py="1" nd-s-pr="2">
                        <span class="fa fa-facebook" nd-s-pr="1"></span>{{::article.shareCount | number}} shares</span>
                </div>
            </div>
        </div>
    </div>
</div>